#nav-estilo{
    font-size: 20px;
    box-shadow: 0px 0px 5px 1px black;
    font-family: Arial, Helvetica, sans-serif;   
}
#titulos-edit{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
#titulos-show{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.navbar-nav{
    margin-top: 15px;
    margin-left: 15em;
    font-family: Arial, Helvetica, sans-serif;
}
#logocar{
    margin-left: 100px;
}
#mensajerror{
    font-size: small;
    margin-top: 15px;
}

.circulo {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:  #AA3F3F;
    /* margin-left: 2em; */
    margin-top: 15px;
    display: flex;
    
}
.input-buscar{
    border: 0;
    border-radius: 10px;
    height: 60px;
    width: 31em;
    margin-left: 90px;
    margin-top: 20px;
    background-color: #EEF0F8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#boton-crear{
    background-color: #EEF8EE;
    border-radius:10px;
    width:150px;
    height: 60px;
    font-size: 24px;
    margin-left: 38em;
    margin-top: -88px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    border: 0;
}
#table-index{
    width: 80em;
    /* border:20px solid red; */
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px black;
    margin-left: 43px;
    font-family: Arial, Helvetica, sans-serif;
}
#boton-filtrar{
    background-color: #F8EEEF;
    border-radius:10px;
    width:150px;
    height: 60px;
    font-size: 24px;
    margin-left: 31.2em;
    margin-top: -60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;

}
#tabla{
    font-size: 18px;
    width: 60em;
    margin-left: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
   
}
.form-register{
    height: 32em;
    margin-top: -40px;
}

.containertablageneral{
    width: 80em;
    /* border:20px solid red; */
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px black;
    margin-left: 43px;
    
} 
.containerlogin{
    margin-top: 70px;
    border-radius: 10px;
    width: 35em;
    box-shadow: 0px 0px 5px 1px black;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 25em;
}
#logocarlogin{
    margin-top:20px; 
}
.formu1{
    width: 15em;
    margin-left: 70px;
    margin-top: 20px;
} 
.formu2{
    width: 15em;
    margin-left: 24em;
    margin-top: -24.6em;
}
.formu22{
    width: 15em;
    margin-left: 24em;
    margin-top: -19.5em;
}
.botoncrear{
    background-color: #EEF8EE;
    border-radius:10px;
    width:200px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin-top: 10px;
    margin-left: 32px;

}
.modal-content{
    width:44em; 
    height:34em; 
    margin-right:60px;
    position: relative;
    right: 7em;
    top: 30px;   
}
.modal-body{
    margin-top: 59px;
    display: flex;
    position: relative;
    left: -0.8em;
    border-radius: 10px;
    width: 50em;
    margin-top: 30px;
    
}
.modal-body1{
    display: flex;
    position: relative;
    left: 19em;
    border-radius: 10px;
    width: 50em;
    margin-top: 30px;

    
}
.modal-header{
    border: 0;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* .section-formu-con{
    border: 1px solid black;
    border-radius: 10px;
    height: 25em;
    width: 45em;
    margin-left: 50px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 1px black; 
}  */
#eye{
    position: absolute;
    left: 47em;
    transform: translate(0,-50%);
    top: 24.7em;
    cursor: pointer;
    color: #7a797e;   
}
#map{
    height: 500px;
    width: 100%;
}